.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #e7f8ff;
  height: 3.4375rem;
  padding: 0 5%;
  max-width: 100%;
  
}

.profile-side {
  display: flex;
  gap: 1.0625rem;

  align-items: center;
  
}

.profile-name {
  font-family: var(--font-heading);
  font-weight: 700;
  text-wrap: nowrap;
  color: black;
}

.profile-name-link{
  text-decoration: none;
  position: relative;
  padding-bottom: 0.2rem;
}

.profile-name-link::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background: linear-gradient(to right, #a8d8ff, #4da6ff, #0057d9, #001f5b);
  transition: width 0.2s ease-in;
}


.profile-name-link:hover::before{
  width: 100%;
}

.profile-image {
  width: 1.875rem;
  transition: transform 0.2s ease;
}

.profile-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-tooltip-container {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #c4c4c4;
  padding: 0.1875rem 0.625rem 0.1875rem 0;

  border-radius: 0.1875rem;

  text-wrap: nowrap;
  top: 2.5rem;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile-icon-container:hover .profile-tooltip-container {
  opacity: 1;
}

.profile-icon-container:hover .profile-image {
  transform: scale(1.1);
}

.profile-tooltip-text {
  font-size: 0.8125rem;

  font-weight: 500;
  font-family: var(--font-body);
}

.Necktie-icon {
  width: 1.875rem;

  height: 1.5625rem;

  margin: 0;
}

.right-side {
  display: flex;
  gap: 1.0625rem;

  align-items: center;
  
}

.Follow-link {
  text-decoration: none;
  color: var(--accent-blue);
  font-family: var(--font-heading);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.4em 0.8125rem;
  border-radius: 1.25rem;
  border: 0.125rem solid var(--accent-blue);
  transition: all 0.2s ease-in;
  text-wrap: nowrap;
}

.Follow-link:hover {
  background-color: var(--accent-blue);
  color: white;
}

.Follow-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.2s ease-in-out;
}

.Follow-icon {
  width: 1.875rem;
}

.Follow-tooltip {
  position: absolute;
  top: 2.5rem;
  text-wrap: nowrap;
  background-color: #dcdcdc;
  color: rgb(9, 88, 172);
  padding: 0.2rem;
  font-size: 0.8em;
  font-family: var(--font-body);
  font-weight: 500;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.Follow-icon-container:hover .Follow-tooltip {
  opacity: 1;
}

.Follow-icon-container:hover .Follow-icon {
  opacity: 0.8;
}

.Follow-link-icon {
  margin-top: 0.3125rem;
  text-align: center;
}


@media (max-width: 480px) {
  .profile-image{
    display: none;
  }
}