footer {
  margin-top: auto;
}

.inner-footer{
  width: 100%;
  background-color: black;
  background-color: rgb(200, 200, 178);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-footer-part {
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 50%;
  border-bottom: 0.1rem solid rgb(60, 60, 60);
}

.first-footer-part p {
  text-wrap: nowrap;
}

.first-footer-part-icons {
  width: 2rem;
}

.first-footer-part-icons:hover {
  transform: scale(1.1);
}
.contact-footer-container {
  border-right: 0.1rem solid rgb(70, 70, 70);
  padding-right: 2rem;
}

.last-footer-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 5%;
}

.note-container {
  padding-right: 2rem;
  border-right: 0.1rem solid rgb(60, 60, 60);
}

.note-container p {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .first-footer-part{
    gap: 15%;
  }
  .first-footer-part p {
    text-wrap: wrap;
  }
}
