@keyframes fadeInDown-2 {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page-link {
  animation: fadeInLeft 0.8s ease-in-out;
}

.page-name {
  animation: fadeInLeft 1.2s ease-in-out;
}

.report-link-container {
  animation: fadeInRight 1.2s ease-in-out;
}

.sup-header-text {
  animation: fadeInLeft 0.6s ease-in-out;
}
.Certificates-link-container {
  animation: fadeInLeft 0.8s ease-in-out;
}

.skills-link-container {
  animation: fadeInLeft 1.2s ease-in-out;
}

.intro-row {
  animation: fadeInUp 0.6s ease-in-out;
}

.upper-box {
  animation: fadeInLeft 1s ease-in-out;
}

h1 {
  animation: fadeInLeft 1.4s ease-in-out;
}

h3 {
  animation: fadeInUp 0.9s ease-in-out;
}

.projects-nums {
  animation: fadeInRight 1.4s ease-in-out;
}

.filter-box,
.reports-filter-container {
  animation: fadeInUp 1.4s ease-in-out;
}

.project-box {
  animation: fadeInUp 0.6s ease-in-out;
}
.little-box {
  animation: fadeInUp 0.8s ease-in-out;
}

.project-title {
  animation: fadeInUp 1.2s ease-in-out;
}

.project-tools {
  animation: fadeInUp 1.4s ease-in-out;
}

.project-description {
  animation: fadeInUp 1.5s ease-in-out;
}

.project-source p {
  animation: fadeInUp 1.9s ease-in-out;
}

.thampnail-discription-button {
  animation: fadeInUp 1.2s ease-in-out;
}
.thampnail-gitub-button {
  animation: fadeInUp 1.4s ease-in-out;
}

.report-content {
  animation: fadeInDown-2 0.5s ease-in-out;
}

.title-box-1 {
  animation: fadeInUp 0.6s ease-in-out;
}

.title-box-2 {
  animation: fadeInUp 0.8s ease-in-out;
}

.title-box-3 {
  animation: fadeInUp 1s ease-in-out;
}
.title-box-4 {
  animation: fadeInUp 1.2s ease-in-out;
}
.title-box-5 {
  animation: fadeInUp 1.4s ease-in-out;
}
.title-box-6 {
  animation: fadeInUp 1.6s ease-in-out;
}

.video-box {
  animation: fadeInUp 0.8s ease-in-out;
}

.discription-part-1 {
  animation: fadeInUp 0.8s ease-in-out;
}
.discription-part-2 {
  animation: fadeInUp 1s ease-in-out;
}
.discription-part-3 {
  animation: fadeInUp 1.2s ease-in-out;
}

.links-part-1 {
  animation: fadeInUp 1.3s ease-in-out;
}

.links-part-2 {
  animation: fadeInUp 1.5s ease-in-out;
}

.reources-container {
  animation: fadeInUp 1.7s ease-in-out;
}

.final-link-container {
  animation: fadeInUp 1.7s ease-in-out;
}
