@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dowen-appear {
  0% {
    bottom: 10%;
    scale: 0.7;
    opacity: 0.5;
  }

  50% {
    bottom: -30%;
    scale: 0.9;
    opacity: 0.8;
  }

  100% {
    bottom: -60%;
    scale: 1;
    opacity: 1;
  }
}


@keyframes spin {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}
